github "nerdishbynature/octokit.swift" ~> 0.7.0
github "Quick/Quick"
github "Quick/Nimble"
github "soffes/SSKeychain"
github "Ben-G/ListKit"
github "https://github.com/JackieQi/ReSwift-Router.git" "master"
